{
    "presets": [
        "env"
    ],
    "plugins": ["istanbul", "transform-runtime"],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}